<div class="container">
  <div class="container__header">
    <img src="logo.png" alt="" height="42" width="42">
  </div>
  <div class="container__content">
    <div class="container__content__title">Inscrição dos encontreiros</div>
    <div class="container__content__forms">
      <div class="input-box">
        <div class="input-title">Nome</div>
        <input [(ngModel)]="data.fullName" type="text" placeholder="Por favor, insira seu nome completo">
      </div>
      <div class="input-box">
        <div class="input-title">Data de nascimento</div>
        <input [(ngModel)]="data.bornDate" type="date">
      </div>
      <div class="input-box">
        <div class="input-title">CPF</div>
        <input [(ngModel)]="data.cpf" type="text" placeholder="000.000.000-00">
      </div>
      <button (click)="sendLoginData()">Enviar</button>
    </div>
  </div>
</div>